.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  padding: 2rem 2rem;
  width: 100%;
  max-width: 670px;
  height: auto;
  margin: 2rem auto;
  border-radius: 0.625rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradientText {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: var(--grad-laranja, linear-gradient(90deg, #f4c542 0%, #fc692d 100%));
  background-clip: text;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.btn {
  background-color: #fc692d;
  height: 3.75rem;
  font-weight: 700;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.btn:hover {
  background-color: #f4c542;
}
